alias rebuild="$command build --no-cache --pull"
alias composer="$command run php composer"
alias npm="$command run npm npm"
alias php="$command run php php"
alias art="php /var/www/html/artisan"

alias p="art test --parallel --processes 6 --exclude-group TBD,demo,legacyImports"
alias pf="art test --fi"
