
alias rebuild="$command build --no-cache --pull"
alias restart="$command restart"
alias composer="$command run --rm php composer"
alias npm="$command run --rm npm npm"
alias php="$command run --rm php php"
alias art="php artisan"

excluded="TBD,demo,legacyImports,deprecated,whyDoesThisHappen"
alias p="art test --parallel --processes 6 --exclude-group $excluded"
alias apf="art test --fi"
alias pf="php vendor/bin/phpunit --exclude-group $excluded --fi"