networks:
  easily:
    external: true

services:
  app:
    image: caddy:2.10-alpine
    volumes:
      - ../../config/caddy/project.Caddyfile:/etc/caddy/Caddyfile:ro
      - ${SERVER_ROOT}:/var/www/html
    depends_on:
      - php
    networks:
      - easily

  mysql:
    image: mysql:8
    tty: true
    ports:
      - "3306:3306"
    environment:
      MYSQL_DATABASE: ${DB_DATABASE}
      MYSQL_ROOT_PASSWORD: secret
      SERVICE_TAGS: dev
      SERVICE_NAME: mysql
    entrypoint:
      sh -c "
      echo 'CREATE DATABASE IF NOT EXISTS ${DB_DATABASE}; CREATE DATABASE IF NOT EXISTS ${DB_DATABASE}_testing;' > /docker-entrypoint-initdb.d/init.sql;
      /usr/local/bin/docker-entrypoint.sh --character-set-server=utf8mb4 --collation-server=utf8mb4_unicode_ci
      "
    networks:
      - easily

  php:
    build:
      context: .
      dockerfile: ../../config/php/${PHP_VERSION:-8.4}/Dockerfile
      args:
        - UID=${UID:-1000}
        - GID=${GID:-1000}
    volumes:
      - ${SERVER_ROOT}:/var/www/html
      - ../../config/php/${PHP_VERSION:-8.4}/config/php-fpm.conf:/usr/local/etc/php-fpm.conf
      - ../../config/php/${PHP_VERSION:-8.4}/config/www.conf:/usr/local/etc/php-fpm.d/www.conf
      - ../../config/php/${PHP_VERSION:-8.4}/config/php.ini:/usr/local/etc/php/php.ini
    networks:
      - easily

  redis:
    image: redis:alpine
    ports:
      - "6379:6379"
    networks:
      - easily

  mailhog:
    image: mailhog/mailhog:latest
    ports:
      - "1025:1025"
      - "8025:8025"
    networks:
      - easily
